@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap')

h1, h2, h3
  font-weight 900
  color $white

h1, h2
  font-size 2.5em
  letter-spacing 1.3px

h2
  -webkit-text-fill-color: $dark-grey
  -webkit-text-stroke-width .5px
  -webkit-text-stroke-color $white

h3
  font-size 1.2em
  margin 22.5px 0

p
  color $accent-grey
  margin 10px 0
  font-size .95em
  line-height 20px