html
    head
        link(rel='stylesheet' href='../styles/styles.css')
    body
        .token
            .navigation
                .close
                    img(src='../assets/times.svg')
            .container
                h1 TOKEN
                p Paste the token from your clipboard by clicking on the button below.
                a(href='#').button.paste Paste
                a(href='#').button.-small.cancel Cancel
        script(src='./main.js')